<dialog class="p-0 absolute bg-gray-100 rounded-lg open:backdrop:bg-gray-400 open:backdrop:opacity-75" data-modal-target="modal">
  <div class="p-6 sm:min-w-[20rem] text-center">
    <button class="p-1 absolute top-2 right-2 pointer hover:bg-gray-300 rounded-lg transition duration-150" data-action="modal#close">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
    <h2 class="font-semibold">Add Applications</h2>
    <% if @available_applications.count > 0 %>
      <%= form_with url: bulk_user_applications_path, data: { modal_target: 'form' } do |f| %>
        <div class="mt-4">
          <%= f.collection_check_boxes(:application_ids, @available_applications, :id, :name) do |item| %>
            <div class="flex items-center justify-between mt-4">
              <%= item.label %>
              <%= item.check_box class: "w-5 h-5 text-blue-600 border-gray-300 rounded focus:ring-blue-500 focus:ring-2 cursor-pointer" %>
            </div>
          <% end %>
        </div>
        <div class="actions mt-4">
          <%= f.submit "Submit", class: "bg-blue-300 hover:bg-blue-400 transition duration-150 rounded-lg py-2 px-4 cursor-pointer" %>
        </div>
      <% end %>
    <% else %>
      <p class="mt-10">
        No applications available
      </p>
      <div class="mt-10">
        <button class="bg-blue-300 hover:bg-blue-400 transition duration-150 rounded-lg py-2 px-4 cursor-pointer" data-action="modal#close">Close</button>
      </div>
    <% end %>
  </div>
</dialog>
