<div class="bg-gray-100 rounded-lg p-4">
  <h2 class="text-xl font-semibold text-center">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field mt-2">
      <%= f.label :login %><br />
      <%= f.text_field :login, autofocus: true, autocomplete: "login", class: 'rounded-lg w-full' %>
    </div>

    <div class="field mt-2">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: 'rounded-lg w-full' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field mt-2">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions mt-4 text-center">
      <%= f.submit "Log in", class: "bg-blue-300 hover:bg-blue-400 transition duration-150 rounded-lg py-2 px-4 cursor-pointer" %>
    </div>
  <% end %>

  <div class="text-xs mt-4 text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>
