<div
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 w-full"
  data-controller="sortable"
  data-sortable-animation-value="150"
  data-sortable-handle-value=".handle"
  data-sortable-resource-name-value="user_application"
>
  <% @user_applications.each do |user_app| %>
    <div
      class="min-h-[12rem] m-2 bg-gray-300 hover:bg-gray-400 rounded-lg"
      data-sortable-update-url="<%= user_application_path(user_app) %>"
    >
      <div class="<%= user_app.application.background_class %> h-full w-full rounded-lg relative transition-all duration-150">
        <div class="handle absolute top-2 left-2 pointer cursor-move">
          <%= render 'shared/boxes-icon' %>
        </div>


        <%= link_to user_application_path(user_app), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this application?" }, class: "p-1 absolute top-2 right-2 pointer hover:bg-gray-300 rounded-lg", title: "Remove application" do %>
            <%= render 'shared/x-icon' %>
        <% end %>

        <%= link_to user_app.application.link, target: "_blank", class: " p-2 h-full w-full flex flex-col items-center justify-center text-center transition duration-150" do %>
          <h2 class="text-2xl font-semibold">
            <%= user_app.application.name %>
          </h2>
          <p class="mt-4 text-sm">
            <%= user_app.application.description %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
