<!DOCTYPE html>
<html>
  <head>
    <title>ApplicationHomepage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-300">
    <header class="bg-gray-200">
      <nav class="flex items-center justify-end h-10 px-6 lg:px-8" aria-label="Global">
        <% if user_signed_in? %>
          <div data-controller="modal">
            <button class="flex items-center border-gray-200 border-b-2 hover:border-red-500 py-[.45rem]" data-action="modal#open">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
              </svg>
              Add Application
            </button>
            <%= render 'bulk_user_applications/modal_form' %>
          </div>

          <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: 'py-[.45rem] ml-4 border-b-2 border-gray-200 hover:border-red-500' %>
        <% else %>
          <%= button_to "Log In", new_user_session_path, method: :get, class: 'py-[.45rem] ml-4 border-b-2 border-gray-200 hover:border-red-500' %>
        <% end %>
      </nav>
    </header>

    <% if flash.count > 0 %>
      <div id="flash" data-controller="flash" class="mb-2 transition ease-in-out duration-150 text-center fixed w-full">
        <% flash.each do |type, message| %>
          <div class="p-2 <%= type %>">
            <%= message %>
          </div>
        <% end %>
      </div>
    <% end %>

    <main class="container mx-auto mt-28 px-5 flex flex-col items-center">
      <%= yield %>
    </main>
  </body>
</html>
