<!DOCTYPE html>
<html>
  <head>
    <title>ApplicationHomepage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-300">
    <header class="bg-gray-200">
      <nav class="flex items-center justify-end p-6 lg:px-8" aria-label="Global">
        <% if user_signed_in? %>
          <button>Add Item</button>
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% end %>
      </nav>
    </header>

    <% if flash.count > 0 %>
      <div id="flash" data-controller="flash" class="mb-2 transition ease-in-out duration-150 text-center fixed w-full">
        <% flash.each do |type, message| %>
          <div class="p-2 <%= type %>">
            <%= message %>
          </div>
        <% end %>
      </div>
    <% end %>

    <main class="container mx-auto mt-28 px-5 flex flex-col items-center">
      <%= yield %>
    </main>
  </body>
</html>
